In [279]:
# Чтобы скачать и распаковать zip-архив в output папку в Питоне:
import pandas as pd
import numpy as np
from IPython.display import display
#!/usr/bin/env python
import io
import zipfile
import requests  # $ pip install requests

r = requests.get("https://lms.skillfactory.ru/assets/courseware/v1/5ede138b70107a618949677b325096ca/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/melb_data_ps.zip")
with r, zipfile.ZipFile(io.BytesIO(r.content)) as archive:
    archive.extractall('Data')

In [280]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
# melb_df = melb_data.copy()

In [281]:
melb_df = melb_data.copy()

In [282]:
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [283]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

In [284]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsSquare'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsSquare, Length: 13580, dtype: float64

In [285]:
# customer_df = pd.DataFrame({
#         'number': [0, 1, 2, 3, 4],
#         'cust_id': [128, 1201, 9832, 4392, 7472],
#         'cust_age': [13, 21, 19, 21, 60],
#         'cust_sale': [0, 0, 0.2, 0.15, 0.3],
#         'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
#         'cust_order': [1400, 14142, 900, 1240, 8430]
#     })

# Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице,
# то функция должна возвращать None. Удалите выбранные вами столбцы из таблицы customer_df.

def delete_columns(df, col=[]):
    
    
    for collomn  in  col:
        if collomn not in df:
            return None
    new_df = df.drop(col, axis=1)
    return new_df



if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    columns_for_delete= ['number', 'cust_year_birth'] #выбранные вами столбцы
    new_df = delete_columns(customer_df, columns_for_delete)
    print(new_df)

   cust_id  cust_age  cust_sale  cust_order
0      128        13       0.00        1400
1     1201        21       0.00       14142
2     9832        19       0.20         900
3     4392        21       0.15        1240
4     7472        60       0.30        8430

In [286]:
# Задание 2.4
# 1 point possible (graded)
# Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах.
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
# Рассчитайте среднюю плотность населения представленных стран (количество человек на квадратный километр). Ответ округлите до сотых.
# Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны.
# Обратите внимание, что население в таблице представлено в миллионах.

countries_df["dencity"] = countries_df["population"]*1000000 / countries_df["square"]
round(countries_df["dencity"].mean(), 2)

84.93

In [287]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [288]:
# Тип данных datetime позволяет с помощью специального аксессора dt выделять составляющие времени из каждого элемента столбца, такие как:

# date — дата;
# year, month, day — год, месяц, день;
# time — время;
# hour, minute, second — час, минута, секунда;
# dayofweek — номер дня недели, от 0 до 6, где 0 — понедельник, 6 — воскресенье;
# day_name — название дня недели;
# dayofyear — порядковый день года;
# quarter — квартал (интервал в три месяца).
# Например, обратившись по атрибуту dt.year в столбце Date, мы можем «достать» год продажи и понять, за какой интервал времени (в годах) представлены наши данные,
# а также на какой год приходится наибольшее число продаж:

years_sold = melb_df['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int64
Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

In [289]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

In [290]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

In [291]:
melb_df = melb_df.drop('YearBuilt', axis=1)

In [292]:
# Задание 3.3
# Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье),
# результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
mask_sat = melb_df['WeekdaySale'] == 5
mask_sun = melb_df['WeekdaySale'] == 6
weekend_count = melb_df[mask_sun | mask_sat]["Suburb"].count()
print(weekend_count)

12822

In [293]:
def download_file(link):
    filename = "data/" + link.split('/')[-1]
    r = requests.get(link, allow_redirects=True)
    open(filename, 'wb').write(r.content)


link1 = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv"


download_file(link1)

In [294]:
#запись в файл 
# countries_df.to_csv('data/countries.csv', index=False, sep=';')

# чтение из файла
# countries_data = pd.read_csv('data/countries.csv', sep=';')

#запись в файл 

# countries_df.to_csv('data/countries.csv', index=False, sep=';')

#чтение из файла
# countries_data = pd.read_csv('data/countries.csv', sep=';')

In [295]:
# Чтобы скачать и распаковать zip-архив в output папку в Питоне:
import pandas as pd
import numpy as np
from IPython.display import display
#!/usr/bin/env python
import io
import zipfile
import requests  # $ pip install requests

prime_ufo_df = pd.read_csv('data/ufo.csv' ,  sep=',')

ufo_df = prime_ufo_df

In [297]:
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [298]:
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=False)
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 712.7+ KB

In [256]:
ufo_df['year'] = np.int32(ufo_df['Time'].dt.year)
ufo_df.describe(include='all', datetime_is_numeric=True)

,City,Colors Reported,Shape Reported,State,Time,year
count,18216,2882,15597,18241,18241,18241.000000
unique,6476,27,27,52,NaN,NaN
top,Seattle,RED,LIGHT,CA,NaN,NaN
freq,187,780,2803,2529,NaN,NaN
mean,NaN,NaN,NaN,NaN,1989-12-19 21:06:14.252508032,1989.435009
min,NaN,NaN,NaN,NaN,1930-06-01 22:00:00,1930.000000
25%,NaN,NaN,NaN,NaN,1981-06-20 02:30:00,1981.000000
50%,NaN,NaN,NaN,NaN,1996-03-01 00:00:00,1996.000000
75%,NaN,NaN,NaN,NaN,1999-06-12 23:45:00,1999.000000
max,NaN,NaN,NaN,NaN,2000-12-31 23:59:00,2000.000000
std,NaN,NaN,NaN,NaN,NaN,12.698652

In [257]:
ufo_df['year'].mode()[0]

1999

In [258]:
# Задание 3.5
# Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
# Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.

ufo_df['date'] = ufo_df['Time'].dt.date
mask_NV = ufo_df['State'] == 'NV'
# Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().
# Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.
# display(day_diff_NV.head())
ufo_df[mask_NV]['date'].diff().dt.days.mean()

68.92932862190813

In [259]:
# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [260]:
# Теперь применим эту функцию к столбцу c адресом. Для этого передадим функцию get_street_type в аргумент метода столбца apply(). 
# В результате получим объект Series, который положим в переменную street_types:

street_types = melb_df['Address'].apply(get_street_type)
display(street_types.value_counts())

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

In [261]:
# римечание. Внимательный читатель наверняка обратит внимание на то, что мы допустили небольшую ошибку!
# Если присмотреться, то в списке подтипов улиц street_types можно заметить подтипы, которые именуются различным образом, но при этом обозначают одинаковые вещи.
# Например, подтипы Av и Avenue, Bvd и Boulevard, Pde и Parade. Мы упустили данный момент, хотя в реальных задачах стоит обращать пристальное внимание на результаты преобразований и исправлять неточности в данных.
# Такие ошибки в данных (обозначение идентичных категорий различными именами) являются одним из видов «грязных» данных.
# Порой отследить такие неточности бывает очень сложно, а при наличии большого количества категорий (например, более ста) — практически невозможно.
# Мы предлагаем вам самостоятельно разобраться с этой ошибкой: попробуйте написать функцию-преобразование (lambda-функцию-преобразование), 
# которая возвращала бы вместо значений Avenue, Boulevard и Parade их топографические сокращения, и примените её к данным о подтипах улиц.
# → Обратите внимание, что данное преобразование необходимо применить до сокращения количества уникальных категорий.

dirty_data_st = {'Avenue':'Av', 'Boulevard':'Bvd', 'Parade':'Pd'}

melb_df['StreetType'] = street_types.apply(lambda x: dirty_data_st[x] if x in dirty_data_st.keys() else x)
display(street_types.value_counts())

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

In [262]:
# Из данного вывода можно увидеть, что есть группа наиболее популярных подтипов улиц, а дальше частота подтипов быстро падает.

# В таком случае давайте применим очень распространённый метод уменьшения количества уникальных категорий — выделим n подтипов, 
# которые встречаются чаще всего, а остальные обозначим как 'other' (другие).

# Для этого к результату метода value_counts применим метод nlargest(), который возвращает n наибольших значений из Series. Зададим n=10,
# т. е. мы хотим отобрать десять наиболее популярных подтипов. Извлечём их названия с помощью атрибута index, а результат занесём в переменную popular_stypes:
popular_stypes =street_types.value_counts().nlargest(10).index
print(popular_stypes)
# Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [263]:
# Теперь, когда у нас есть список наиболее популярных подтипов улиц, введём lambda-функцию, которая будет проверять, есть ли строка x в этом перечне, 
# и, если это так, lambda-функция будет возвращать x, в противном случае она будет возвращать строку 'other'. Наконец, применим такую функцию к Series street_types,
# полученной ранее, а результат определим в новый столбец таблицы StreetType:

melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [264]:
melb_df = melb_df.drop('Address', axis=1)

In [265]:
# Задание 4.2
# Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод,
# что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).
# Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным,
# и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.
# Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

def get_weekend(weekday):
    if weekday in  [5, 6]:
        return 1
    # elif weekday == 6:
    #     return 1
    else:
        return 0
    

melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

mask_weekend = melb_df['Weekend'] == 1


weekend_price_mean = melb_df[mask_weekend]['Price'].mean()
print(round(weekend_price_mean), "weekend mean")

1081199 weekend mean

In [266]:
# Задание 4.3
# Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, 
# а остальные обозначьте как 'other'.
# Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, 
# проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

top_ag = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in top_ag else "other")

mask_Nelson = melb_df['SellerG'] == "Nelson"
mask_other_agency = melb_df['SellerG'] == "other"
ratio = melb_df[mask_Nelson]['Price'].min() / melb_df[mask_other_agency]['Price'].min()
print(round(ratio , 1))

1.3

In [267]:
# Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, 
# в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». 
# Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.
# Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы.
# Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
# Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах.
# Учтите это при построении своей функции. Кроме того, учтите возможные вариации слов месяц (месяца, месяцев) и год (года, лет).
# Примените вашу функцию к Series experience_col с помощью метода apply().


def get_experience(arg):
    """
    Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. 
    Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
    """
    months = ['месяц', 'месяца', 'месяцев']
    years = ['год', 'года', 'лет']
    arg_to_list = arg.split(sep=" ")
    if len(arg_to_list) == 6:
        quant_months = int(arg_to_list[2])*12 + int(arg_to_list[4])
        return quant_months 
    elif arg_to_list[3] in months:
        quant_months = int(arg_to_list[2])
        return quant_months 
    elif arg_to_list[3] in years:
        quant_months = int(arg_to_list[2])*12
        return quant_months 
    else: 
        return None
    
    

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [268]:
# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtype) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

        Column_Name  Num_Unique            Type
0           Weekend           2           int64
1              Type           3          object
2       WeekdaySale           5           int64
3            Method           5          object
4        Regionname           8          object
5             Rooms           9           int64
6          Bathroom           9           int64
7        StreetType          11          object
8               Car          11           int64
9           Bedroom          12           int64
10      CouncilArea          33          object
11          SellerG          50          object
12             Date          58  datetime64[ns]
13      AgeBuilding         152           int64
14         Postcode         198           int64
15         Distance         202         float64
16    Propertycount         311           int64
17           Suburb         314          object
18     BuildingArea         602         float64
19  MeanRoomsSquare        1277         float64
20         Landsize        1448         float64
21            Price        2204         float64
22        Lattitude        6503         float64
23       Longtitude        7063         float64

In [269]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AgeBuilding      13580 non-null  int64
 21  WeekdaySale      13580 non-null  category
 22  StreetType       13580 non-null  category
 23  Weekend          13580 non-null  category
dtypes: category(8), datetime64[ns](1), float64(7), int64(7), object(1)
memory usage: 1.8+ MB

None

In [273]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'])
melb_df.describe(include='object')

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

           Suburb
count       13580
unique        314
top     Reservoir
freq          359

In [278]:
# Задание 5.2
# При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.
# С помощью метода info() узнайте, сколько памяти занимает таблица melb_df.
# Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
# Приведите данные в столбце Suburb к категориальному типу.
# В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.
top_sub = melb_df['Suburb'].value_counts().nlargest(119).index
print(top_sub)
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x : x if x in top_sub else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
melb_df.info()
melb_df.describe(include='category')

Index(['other', 'Reservoir', 'Richmond', 'Bentleigh East', 'Preston',
       'Brunswick', 'Essendon', 'South Yarra', 'Glen Iris', 'Hawthorn',
       ...
       'Albion', 'Viewbank', 'Sunbury', 'Hoppers Crossing', 'Bundoora',
       'Greensborough', 'Caulfield North', 'Chadstone', 'Hughesdale',
       'Mont Albert'],
      dtype='object', length=119)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AgeBuilding      13580 non-null  int64
 21  WeekdaySale      13580 non-null  category
 22  StreetType       13580 non-null  category
 23  Weekend          13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(7), int64(7)
memory usage: 1.7 MB

,Suburb,Type,Method,SellerG,CouncilArea,Regionname,WeekdaySale,StreetType,Weekend
count,13580,13580,13580,13580,12211,13580,13580,13580,13580
unique,119,3,5,50,33,8,5,11,2
top,other,house,S,Nelson,Moreland,Southern Metropolitan,5,St,1
freq,2215,9449,9022,1565,1163,4695,11759,8012,12822