In [24]:
from IPython.display import display
import numpy as np
import pandas as pd 

pd.set_option('display.max_columns', 40) # выводить больше столбцов
pd.set_option('display.max_rows', 40)   # выводить больше строк
# plt.style.use('default')    # корректный вывод графиков в темной теме Matplotlib
# fig.show(renderer='notebook') #включение анимации
#!/usr/bin/env python

import io
import zipfile
import requests  # $ pip install requests


# unzip with link
# r = requests.get("https://lms.skillfactory.ru/assets/courseware/v1/e157dad19d7511561f697586ed146datae/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/churn.zip") # link
# with r, zipfile.ZipFile(io.BytesIO(r.content)) as archive:
#   archive.extractall('data')

# # unzip file on the disk
# with zipfile.ZipFile('data/wine_cleared.zip', 'r') as archive:
#     archive.extractall('data')

In [25]:
import pandas as pd 

# инициализируем информацию о звонках
calls_list = [
    [460, '2013-12-17 04:55:39', '2013-12-17 04:55:44', '2013-12-17 04:55:45'],
    [12, '2013-12-16 20:03:20', '2013-12-16 20:03:22', '2013-12-16 20:07:13'],
    [56, '2013-12-16 20:03:20', '2013-12-16 20:03:20', '2013-12-16 20:05:04'],
    [980, '2013-12-16 20:03:20','2013-12-16 20:03:27', '2013-12-16 20:03:29'],
    [396, '2013-12-16 20:08:27', '2013-12-16 20:08:28','2013-12-16 20:12:03'],
    [449, '2013-12-16 20:03:20', '2013-12-16 20:03:25','2013-12-16 20:05:00'],
    [397, '2013-12-16 20:08:25', '2013-12-16 20:08:27', '2013-12-16 20:09:59'],
    [398, '2013-12-16 20:01:23', '2013-12-16 20:01:23', '2013-12-16 20:04:58'],
    [452, '2013-12-16 20:03:20', '2013-12-16 20:03:21','2013-12-16 20:04:55'],
    [440, '2013-12-16 20:03:20', '2013-12-16 20:04:26', '2013-12-16 20:04:32']
]

calls = pd.DataFrame(calls_list, columns = ['client_id',  'agent_date', 'created_at' ,'end_date'])

# преобразовываем признаки в формат datetime для удобной работы

calls['agent_date'] = pd.to_datetime(calls['agent_date'])
calls['created_at'] = pd.to_datetime(calls['created_at'])
calls['end_date'] = pd.to_datetime(calls['end_date'])
calls

   client_id          agent_date          created_at            end_date
0        460 2013-12-17 04:55:39 2013-12-17 04:55:44 2013-12-17 04:55:45
1         12 2013-12-16 20:03:20 2013-12-16 20:03:22 2013-12-16 20:07:13
2         56 2013-12-16 20:03:20 2013-12-16 20:03:20 2013-12-16 20:05:04
3        980 2013-12-16 20:03:20 2013-12-16 20:03:27 2013-12-16 20:03:29
4        396 2013-12-16 20:08:27 2013-12-16 20:08:28 2013-12-16 20:12:03
5        449 2013-12-16 20:03:20 2013-12-16 20:03:25 2013-12-16 20:05:00
6        397 2013-12-16 20:08:25 2013-12-16 20:08:27 2013-12-16 20:09:59
7        398 2013-12-16 20:01:23 2013-12-16 20:01:23 2013-12-16 20:04:58
8        452 2013-12-16 20:03:20 2013-12-16 20:03:21 2013-12-16 20:04:55
9        440 2013-12-16 20:03:20 2013-12-16 20:04:26 2013-12-16 20:04:32

In [26]:
calls
calls['duration'] = (calls['end_date'] - calls['created_at']).dt.seconds
calls

,client_id,agent_date,created_at,end_date,duration
0,460,2013-12-17 04:55:39,2013-12-17 04:55:44,2013-12-17 04:55:45,1
1,12,2013-12-16 20:03:20,2013-12-16 20:03:22,2013-12-16 20:07:13,231
2,56,2013-12-16 20:03:20,2013-12-16 20:03:20,2013-12-16 20:05:04,104
3,980,2013-12-16 20:03:20,2013-12-16 20:03:27,2013-12-16 20:03:29,2
4,396,2013-12-16 20:08:27,2013-12-16 20:08:28,2013-12-16 20:12:03,215
5,449,2013-12-16 20:03:20,2013-12-16 20:03:25,2013-12-16 20:05:00,95
6,397,2013-12-16 20:08:25,2013-12-16 20:08:27,2013-12-16 20:09:59,92
7,398,2013-12-16 20:01:23,2013-12-16 20:01:23,2013-12-16 20:04:58,215
8,452,2013-12-16 20:03:20,2013-12-16 20:03:21,2013-12-16 20:04:55,94
9,440,2013-12-16 20:03:20,2013-12-16 20:04:26,2013-12-16 20:04:32,6

In [27]:

calls['time_connection'] = (calls['created_at']-calls['agent_date']).dt.seconds
calls['time_connection'].sum()
calls

,client_id,agent_date,created_at,end_date,duration,time_connection
0,460,2013-12-17 04:55:39,2013-12-17 04:55:44,2013-12-17 04:55:45,1,5
1,12,2013-12-16 20:03:20,2013-12-16 20:03:22,2013-12-16 20:07:13,231,2
2,56,2013-12-16 20:03:20,2013-12-16 20:03:20,2013-12-16 20:05:04,104,0
3,980,2013-12-16 20:03:20,2013-12-16 20:03:27,2013-12-16 20:03:29,2,7
4,396,2013-12-16 20:08:27,2013-12-16 20:08:28,2013-12-16 20:12:03,215,1
5,449,2013-12-16 20:03:20,2013-12-16 20:03:25,2013-12-16 20:05:00,95,5
6,397,2013-12-16 20:08:25,2013-12-16 20:08:27,2013-12-16 20:09:59,92,2
7,398,2013-12-16 20:01:23,2013-12-16 20:01:23,2013-12-16 20:04:58,215,0
8,452,2013-12-16 20:03:20,2013-12-16 20:03:21,2013-12-16 20:04:55,94,1
9,440,2013-12-16 20:03:20,2013-12-16 20:04:26,2013-12-16 20:04:32,6,66

In [28]:
calls['is_connection'] = calls['duration'].apply(lambda x: 1 if x > 10 else 0)
calls
calls['is_connection'].sum()

7

In [29]:
calls['time_diff'] = (calls['end_date']-calls['agent_date']).dt.seconds
calls['time_diff'].sum()

1144

In [30]:
calls = calls.drop(columns=['agent_date', 'created_at' ,'end_date'], axis=1)
calls

   client_id  duration  time_connection  is_connection  time_diff
0        460         1                5              0          6
1         12       231                2              1        233
2         56       104                0              1        104
3        980         2                7              0          9
4        396       215                1              1        216
5        449        95                5              1        100
6        397        92                2              1         94
7        398       215                0              1        215
8        452        94                1              1         95
9        440         6               66              0         72

In [1]:
!pip install category_encoders
# Импортируем библиотеку category-encoders для дальнейшего использования. 

import category_encoders as ce

Collecting category_encoders
  Downloading category_encoders-2.4.0-py2.py3-none-any.whl (86 kB)
     -------------------------------------- 86.6/86.6 KB 821.6 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (1.22.2)
Requirement already satisfied: pandas>=0.21.1 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (1.8.0)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\denis.kozarenko\appdata\roaming\python\python39\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\denis.kozarenko\appdata\roaming\python\python39\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\denis.kozarenko\appdata\local\programs\python\python39\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.7)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.4.0

Рассмотрим следующие популярные способы кодирования: 

порядковое кодирование (Ordinal Encoding); 

однократное кодирование (OneHot Encoding); 

бинарное кодирование (Binary Encoding).

Создадим обучающий набор для кодирования порядковых признаков — ассортимент небольшого магазина с одеждой, где size — буквенное обозначение размера одежды, type — тип изделия.

In [2]:
import pandas as pd
# инициализируем информацию об одежде
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
]

clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])
clothing

  size   type
0  xxs  dress
1  xxs  skirt
2   xs  dress
3    s  skirt
4    m  dress
5    l  shirt
6    s   coat
7    m   coat
8  xxl  shirt
9    l  dress