In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [36]:
test_hh = pd.read_csv('data/hh_database.csv', sep= ';', nrows=1000)

In [37]:
test_1= test_hh.copy()

In [38]:
test_1['Образование и ВУЗ'] = test_1['Образование и ВУЗ'].apply(lambda x : x.split(sep=' ')[0] +' '+ x.split(sep=' ')[1]).astype('category')
test_1['Образование и ВУЗ'].value_counts()

Высшее образование     752
Среднее специальное    123
Неоконченное высшее    109
Среднее образование     16
Name: Образование и ВУЗ, dtype: int64