In [ ]:
# Задание 2.1
# 1/1 point (graded)
# Рассчитайте максимальный возраст (max_age) кандидата в таблице.

select 
    max(can.age)
from hh.candidate can

In [ ]:
# Задание 2.2
# Теперь давайте рассчитаем 

select 
    min(can.age)
from hh.candidate can

In [ ]:
# задание 2.3
select 
    c.age age,
    count(c.id)
from hh.candidate c
group by c.age
order by age desc

In [1]:
# задание 2.4
select 
    count(c.id)
from hh.candidate c
where c.age <> 100 and c.age > 40 
group by c.age

IndentationError: unexpected indent (2097032624.py, line 3)

In [ ]:
# Задание 3.1
# Для начала напишите запрос, который позволит узнать, сколько (cnt) у нас кандидатов из каждого города (city).
# Отсортируйте результат по количеству в обратном порядке.
select 
    ci.title city,
    count(c.id) cnt
from hh.candidate c
left join hh.city ci on c.city_id = ci.id
where c.age <> 100
group by ci.title
order by cnt desc

In [ ]:
# Задание 3.2
select 
    can.gender gender,
    can.age age,
    can.desirable_occupation desirable_occupation,
    ci.title city,
    can.employment_type employment_type
from hh.candidate can
    left join hh.city ci on can.city_id = ci.id
where ci.title like 'Москва' and can.employment_type like '%проектная работа%'
order by can.id

In [ ]:
select 
    can.gender gender,
    can.age age,
    can.desirable_occupation desirable_occupation,
    ci.title city,
    can.employment_type employment_type
from hh.candidate can
    left join hh.city ci on can.city_id = ci.id
where ci.title ilike 'Москва' 
    and can.employment_type ilike '%проектная работа%'
    and can.desirable_occupation ilike any (array['%разработчик%', '%аналитик%', '%программист%'])
order by ci.title, can.id

In [1]:
# Задание 3.4
# Для общей информации попробуйте выбрать номера и города кандидатов, у которых занимаемая должность совпадает с желаемой.
# Формат выборки: id, city.
# Отсортируйте результат по городу и id кандидата.
select 
    can.id id,
    ci.title city
from hh.candidate can
    left join hh.city ci on can.city_id = ci.id
where can.desirable_occupation = can.current_occupation
order by ci.title, can.id

IndentationError: unexpected indent (106846470.py, line 6)

In [ ]:

select 
    count(can.id)
from hh.candidate can
where can.age <> 100
    and ((can.gender = 'M' and can.age >= 65) 
    or (can.gender = 'F' and can.age >= 60))

In [ ]:
# Задание 4.1
# Для добывающей компании нам необходимо подобрать кандидатов из Новосибирска, Омска, Томска и Тюмени, которые готовы работать вахтовым методом.
# Формат выборки: gender, age, desirable_occupation, city, employment_type, timetable_type.
# Отсортируйте результат по городу и номеру кандидата.
select 
    c.gender gender,
    c.age age,
    c.desirable_occupation desirable_occupation,
    ci.title city,
    c.employment_type employment_type,
    tt.title timetable_type
from hh.candidate c
    left join hh.city ci on (ci.id = c.city_id)
    left join hh.candidate_timetable_type ctt on (c.id = ctt.candidate_id)
    left join hh.timetable_type tt on (ctt.timetable_id = tt.id)
where ci.title ilike any (array['Новосибирск', 'Омск', 'Томск' , 'Тюмень'])
    and tt.title ilike 'вахтовый метод'
order by city, c.id

In [ ]:


with x_gen as(
select
    c.desirable_occupation desirable_occupation, 
    c.age age
from hh.candidate c
    left join hh.city ci on (ci.id = c.city_id)
where ci.title = 'Санкт-Петербург'
    and c.age between 16 and 21
)

(select *
from x_gen
order by age
limit 10)

union all

(select 
    'Total',
    count(age)
from x_gen)

In [2]:
# Атестация задание 4
select 
    g.name genre_name,
    count(m.id) movies_count
from sqlprotest.movies m
    join sqlprotest.movie_genres mg on m.id = mg.movie_id
    join sqlprotest.genres g on mg.genre_id = g.id
group by g.name
having count(m.id) >= 3
order by 2 desc

IndentationError: unexpected indent (3630420116.py, line 3)

In [3]:
# задание 5
select 
    name,
    description
from A

union 

select 
    name,
    description
from B

IndentationError: unexpected indent (147617754.py, line 3)

In [ ]:
# Задание 6