In [1]:
# https://lms.skillfactory.ru/courses/course-v1:SkillFactory+DSPR-2.0+14JULY2021/courseware/64fb8f8af1424a7788ba0e45453617fc/fe7f54b798d642c9990b9f43ccd7b492/1?activate_block_id=block-v1%3ASkillFactory%2BDSPR-2.0%2B14JULY2021%2Btype%40html%2Bblock%403bddec1d246549348a1e5440710424d4
from IPython.display import display

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 40) # выводить больше столбцов
pd.set_option('display.max_rows', 40)   # выводить больше строк

# plt.style.use('default')    # корректный вывод графиков в темной теме Matplotlib
# fig.show(renderer='notebook') #включение анимации
#!/usr/bin/env python

import io
import zipfile
import requests  

link = "https://lms.skillfactory.ru/assets/courseware/v1/c5e135f1dc26e5f342916b8ab78357f1/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/ab_data_tourist.zip" # put link here

# unzip with link
r = requests.get(link) # link
with r, zipfile.ZipFile(io.BytesIO(r.content)) as archive:
  archive.extractall('data')

# # unzip file on the disk
# with zipfile.ZipFile('data/wine_cleared.zip', 'r') as archive:
#     archive.extractall('data')

# download file 
# f=open(r'data\pizzas.csv',"wb") #открываем файл для записи, в режиме wb
# ufr = requests.get(link) #делаем запрос
# f.write(ufr.content) #записываем содержимое в файл; как видите - content запроса
# f.close()

In [3]:
ab_data = pd.read_csv('data/ab_data_tourist.csv')
ab_data.head()

   user_id        date group  purchase   price
0   851104  2021-01-21     A         0       0
1   804228  2021-01-12     A         0       0
2   661590  2021-01-11     B         0       0
3   853541  2021-01-08     B         0       0
4   864975  2021-01-21     A         1  150000

In [4]:
https://github.com/Denis-python/VS_code/blob/30d12e3c2a2e69f883ff7b232f9b0b65b01fd833/Skillfactory/EDA5_AB_Test/Template_EDA_5.ipynb

SyntaxError: invalid syntax (4143127052.py, line 1)